/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  min-height: 200vh;
  
  font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #ddd;
}
